#HelloWorldDiv {
  background-color: pink;
  color: black;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#HelloWorldDivButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}