.projectSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center; /* Ensures the h1 stays centered */
}

.projectSectionProjects {
  display: flex;
  flex-direction: row; /* This arranges the projects in a row */
  flex-wrap: wrap; /* Allows the projects to wrap to the next row if needed */
  justify-content: center; /* Center the project items in the container */
  width: 100%; /* Make sure the projects take up the full width */
}

.projectItem {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust based on how large you want each project */
}

.projectImage {
  width: 100%; /* Ensure image takes up full width of its container */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projectImage:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}